<!doctype html>
<html>
<head>
    <title>
        Coffee Machine
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='coffee-machine.png') }}">
</head>
<body>
    <div id="coffee-machine">
        <h4>Coffee Machine Simulator</h4>
        <div id="interface"></div>
    </div>
    <div id="log"></div>
<script>
    function loadInterface() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (xhttp.readyState == 4 && xhttp.status == 200) {
                document.getElementById("interface").innerHTML = xhttp.responseText;
            }
        };
        xhttp.open("GET", "/cm/interface", true);
        xhttp.send();

        setTimeout(function() {loadInterface();}, 1000);
    };

    function update_attribute(key) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
	    if (xhttp.readyState == 4 && xhttp.status == 200) {
                document.getElementById("log").innerHTML += "\n"+xhttp.responseText;
            };
	    };
        xhttp.open("GET", "/cm/click/" + key, true);
        xhttp.send();

        return false;
    };
    loadInterface();
</script>
</body>
</html>
