<!doctype html>
<html>
<head>
    <title>
        Coffee Machine
    </title>
    <style type="text/css">
        #interface a:hover { cursor: pointer; }
	#interface img { width: 35% }
        #log { color: #777; font-family: courier; font-size: 0.6em; white-space: pre; }
	body { background: #000; padding: 0; margin: 0; width: 100%;}
    </style>
</head>
<body>
<div id="interface"></div>
<div id="log"></div>
<script>
    function loadInterface() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (xhttp.readyState == 4 && xhttp.status == 200) {
                document.getElementById("interface").innerHTML = xhttp.responseText;
            }
        };
        xhttp.open("GET", "/cm/interface", true);
        xhttp.send();

        setTimeout(function() {loadInterface();}, 1000);
    };

    function update_attribute(key) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
	    if (xhttp.readyState == 4 && xhttp.status == 200) {
                document.getElementById("log").innerHTML += "\n"+xhttp.responseText;
            };
	};
        xhttp.open("GET", "/cm/click/" + key, true);
        xhttp.send();

        return false;
    };
    loadInterface();
</script>
</body>
</html>
